@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1442px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */

header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    position: fixed;
    z-index: 10;
}

.navbar {
    position: relative;
    display: flex;
    max-width: 1442px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    z-index: 99;
    height: 112px;
    top: 0;
    background-color: #fff;
}

.remove-xs-menu {
    transform: translateX(-500%);
    transition: all 0.4s ease;
}

.xs-nav-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: #F9CE03;
}

.profile-exit-btns {
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E3BF14;
}

.xs-profile-btn,
.xs-exit-btn {
    background-color: transparent;
    border: 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.xs-exit-btn .bg-x {
    font-size: 30px;
    height: 20px;
}

.xs-nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    line-height: 280%;
    margin-top: 35px;
    margin-bottom: 40px;
}

.xs-nav-link a {
    color: #141414;
    font-size: 16px;
    font-weight: 600;
}


.xs-medias {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}

.xs-media-icon {
    color: #141414;
    margin-right: 35px;
    font-size: 23px;
}

.xs-facebook {
    margin-right: 0;
}

.xs-download-btns {
    display: flex;
    width: 100%;
    justify-content: center;
}

.xs-download-btns img {
    width: 116px;
    height: 34px;
}

.xs-googl-play-btn {
    margin-right: 11px;
}

.header-number-container {
    display: flex;
    flex-direction: column;
}

.menu-bar,
.shopping-bag {
    display: none;
}

.header-number-title {
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: 400;
}

.header-number a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.logo-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comp-name-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.comp-name {
    font-size: 28px;
}

.comp-desc {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.265em;
    margin-top: -10px;
}

.logo-img {
    width: 48px;
    height: 50px;
}

.profile-cart-btns {
    display: flex;
    align-items: center;
}

.nav-btn {
    height: 47px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.nav-btn a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 20px;
    border-radius: 10px;
}

.cart-btn:hover {
    background-color: #f9b303;
}

.profile-btn:hover {
    background-color: #eaeaea;
}

.profile-btn {
    width: 100px;
    margin-right: 32px;
    background-color: #fff;
}

.cart-btn {
    width: 140px;
    background-color: #F9CE03;
    border-color: #F9CE03;
}

/* CAROUSEL */

.carousel {
    width: 100%;
    margin: 115px auto 0;
}

/* MENU */

.menu {
    width: 100%;
    margin: 67px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.menu-header {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 47px;
}

.menu-nav-links {
    display: flex;
    align-items: center;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    height: 100px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.active-navlink {
    margin-left: 50px;
}

.menu-nav-link {
    margin-right: 50px;
}

.menu-nav-link a {
    color: #737373;
}

.active-navlink {
    height: 100px;
    border-bottom: 1px solid #F9B403;
    display: flex;
    align-items: center;
}

.active-navlink a {
    color: #F9B403;

}

.section-header {
    margin: 174px auto 0px;
    font-size: 36px;
    font-weight: 600;
}

/* PRODUCT */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.product {
    margin: 85px auto;
    width: 22%;
    min-width: 280px;
}

.product .image-container {
    height: 290px;
}

.product-info h4 {
    font-weight: 600;
    font-size: 20px;
}

.product-desc {
    font-weight: 400;
    font-size: 14px;
    height: 90px;
}

.price-and-quantity {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.substract,
.addition {
    background-color: #fff;
    border: none;
}

.price-num {
    font-size: 14px;
    font-weight: 500;
}

.currency {
    font-size: 10px;
    display: inline;
}

.quantity {
    height: 43px;
    width: 100px;
    border: 1px solid #E1E1E1;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SHOPPING CART */

.phone-cart-product-container {
    display: none;
}

.shopping-cart-navbar {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 32px;
    height: 161px;
}

.shopping-cart {
    width: 100%;
}

.column0 {
    width: 41%;
}

.column1 {
    width: 18.7%;
}

.column2 {
    width: 18%;
}

.column3 {
    width: 16%;
}

.column4 {
    width: 4.7%;
}

.shopping-cart-header {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 57px;
    margin-top: 140px;
}

.product-row {
    border-top: 1px solid #E0E0E0;
    padding-top: 36px;
}

.table-headers {
    width: 100%;
    height: 76px;
    margin-bottom: 36px;
}

.table-header {
    font-size: 14px;
    font-weight: 500;
    color: #4A4A4A;
}

.product-row {
    border-bottom: 1px solid #E0E0E0;
}

.inner-row {
    height: 200px;
    padding-top: 50px;
    width: 100%;
}

.product-details-column {
    display: flex;
    width: 100%;
}

.cart-product-info {
    width: 44.7%;
}

.cart-image {
    width: 28%;
    margin-right: 16px;
    height: auto;
}

.cart-image img {
    width: 100%;
}

.cart-product-title {
    font-size: 20px;
    font-weight: 600;
}

.cart-product-desc {
    font-size: 14px;
    font-weight: 600;
    color: #4A4A4A;
}

.product-price-column {
    font-size: 22px;
    font-weight: 500;
}

.cart-substract,
.cart-addition,
.remove-btn {
    background-color: transparent;
    border: none;
}

.remove-btn {
    display: flex;
}

.under-table-container1 {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.go-to-home {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.total-value-container {
    display: flex;
    width: 344px;
    align-items: center;
    justify-content: space-between;
}

.total-value-title {
    font-size: 18px;
    font-weight: 400;
}

.total-value {
    font-size: 24px;
    font-weight: 600;
}

.order-btn {
    width: 344px;
    height: 72px;
    float: right;
    border-radius: 10px;
    background-color: #F9CE03;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    margin: 57px 0 150px;
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #C9CACC;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    max-width: 1442px;
    align-items: flex-start;
    padding-top: 146px;
}

.footer-logo-container {
    display: flex;
    width: 50%;
    align-items: center;
}

.footer-logo-img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.footer-comp-name {
    display: flex;
    flex-direction: column;
}

.footer-comp-name-regular {
    font-weight: 700;
    font-size: 23px;
}

.footer-comp-name-italic {
    font-weight: 700;
    font-size: 23px;
}

.footer-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-colum-header {
    margin-bottom: 20px;
}

.footer-list a {
    font-size: 16px;
    font-weight: 500;
    line-height: 217.8%;
    color: #141414;
}

.footer-number-container {
    display: flex;
    flex-direction: column;
}

.footer-number-title,
.footer-schadule-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 157%;
    color: #000;
}

.footer-number a,
.footer-schadule {
    color: #000;
    font-weight: 500;
    font-size: 13px;
}

.footer-working-schadule {
    display: flex;
    flex-direction: column;
}

.footer-social-medias-download-btns {
    margin-top: 76px;
    display: flex;
    align-items: center;
    margin-bottom: 91px;
}

.media-icon {
    font-size: 23px;
    color: #000;
    margin-right: 42px;
}

.googl-play-btn {
    margin-right: 21px;
}

.footer-social-medias-download-btns {
    display: flex;
    justify-content: space-between;
}

.author {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #686868;
    font-size: 13px;
    font-weight: 500;
    height: 90px;
    border-top: 1px solid #BFBFBF;
}

@media (min-width: 700px) {
    .menu-nav-links {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1400px) {
    .header-number-container {
        margin-left: 17px;
    }

    .profile-cart-btns {
        margin-right: 17px;
    }

    .footer-logo-container {
        margin-left: 17px;
    }

    .footer-info {
        margin-right: 17px;
    }

    .shopping-cart {
        padding: 0 17px;
    }
}

/*  sm = 768-991 */
@media (min-width: 768px) and (max-width: 991px) {
    .header-number-title {
        font-size: 14px;
    }

    .header-number a {
        font-size: 14px;
        font-weight: 500;
    }

    .logo-img {
        width: 35px;
        height: 35px;
    }

    .comp-name-regular,
    .comp-name-italic {
        font-size: 19px;
    }

    .comp-desc {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.01em;
    }

    .profile-btn {
        width: 84px;
        height: 39px;
    }

    .cart-btn {
        height: 39px;
        width: 118px;
    }

    .cart-btn a {
        padding: 10px 15px;
    }

    .footer-wrapper {
        flex-direction: column;
        padding-top: 96px;
    }

    .footer-logo-container {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 108px;
    }

    .footer-info {
        width: 90%;
        margin: auto;
    }


    .inner-row {
        height: 142px;
        padding-top: 33px;
        width: 100%;
    }

    .column4 {
        display: none;
    }

    .cart-product-title {
        font-size: 16px;
        font-weight: 600;
    }

    .cart-product-desc {
        font-size: 12px;
        font-weight: 400;
    }

    .product-price-column {
        font-size: 14px;
        font-weight: 500;
    }

    .product-price-column {
        position: relative;
    }

    .remove-btn2 {
        display: block !important;
        position: absolute;
        top: 85px;
        border: none;
        background-color: transparent;
    }

    .remove-btn-22 {
        border: 1px solid #E1E1E1;
        border-radius: 10px;
        font-size: 20px !important;
        padding: 3px;
    }

    .column0 {
        width: 50%;
    }

    .column1 {
        width: 20%;
    }

    .column2 {
        width: 20%;
    }

    .column3 {
        width: 10%;
    }

    .go-to-home {
        font-size: 14px;
    }

    .total-value-title {
        font-size: 16px;
    }

    .total-value-number {
        font-size: 24px;
    }

    .order-btn {
        margin-top: 34px;
        margin-bottom: 125px;
    }
}



/* xs= 0-767 */
@media screen and (max-width: 767px) {
    header {
        height: 71px;
    }

    .navbar {
        justify-content: space-between;
        height: 71px;
    }

    .logo-img {
        width: 24px;
        height: 24px;
    }

    .comp-name {
        margin: 0;
        height: 30px;
        margin-top: -10px;
    }

    .comp-desc {
        display: none;
    }

    .comp-name-regular,
    .comp-name-italic {
        font-size: 15px;
    }

    .shopping-bag,
    .menu-bar {
        border: none;
        background-color: #fff;
    }

    .menu-bar,
    .shopping-bag {
        display: block;
        padding: 10px;
        font-size: 20px;
    }

    .header-number-container,
    .profile-cart-btns {
        display: none;
    }

    .carousel {
        margin-top: 71px;
    }

    .menu {
        margin-top: 31px;
    }

    .menu-header {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 21px;
    }

    .menu-nav-links {
        height: 65px;
    }

    .menu-nav-link {
        margin-right: 40px;
        min-width: fit-content;
    }

    .menu-nav-link a {
        font-size: 13px;
        font-weight: 500;
    }

    .last-navlink {
        padding-right: 50px;
    }

    .product {
        display: flex;
        margin: 0;
        border-bottom: 1px solid #E4E4E4;
        width: 95%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    .product .image-container {
        width: 45%;
    }

    .product-info {
        width: 50%;
    }

    .product-info h4 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .image-container {
        display: flex;
        align-items: center;
    }

    .image-container img {
        width: 100%;
    }

    .product-desc {
        font-size: 12px;
        font-weight: 400;
    }

    .quantity {
        width: 78px;
        height: 33px;
    }

    .quantity-num {
        font-size: 14px;
        font-weight: 600;
    }

    .price-num {
        font-size: 13px;
        font-weight: 500;
    }

    .currency {
        font-size: 9px;
    }

    .footer-wrapper {
        flex-direction: column;
        padding-top: 96px;
    }

    .footer-info {
        width: 100%;
    }

    .footer-columns {
        width: 100%;
        padding: 0 9px;
        flex-direction: column;
    }

    .footer-logo-container {
        margin-left: 13px;
        margin-bottom: 54px;
    }

    .footer-colum-header {
        font-size: 18px;
        font-weight: 600;
        margin-top: 25px;
    }

    .footer-list a {
        font-size: 16px;
        font-weight: 500;
    }

    .footer-number-container {
        margin-bottom: 12px;
    }

    .footer-number-title {
        font-size: 13px;
    }

    .footer-number {
        font-size: 13px;
    }

    .footer-social-medias-download-btns {
        flex-direction: column;
        height: 140px;
        align-items: baseline;
        margin-top: 62px;
        margin-bottom: 73px;
    }

    .cart-table {
        display: none;
    }

    .shopping-cart {
        margin-top: 72px !important;
    }

    .shopping-cart-header {
        font-size: 20px;
        margin-top: 38px;
        margin-bottom: 28px;
    }

    .phone-cart-product-container {
        display: flex;
        border-top: 1px solid #DEDEDE;
        border-bottom: 1px solid #DEDEDE;
        flex-direction: column;
        padding: 17px 0 32px;
    }

    .phone-remove-btn {
        display: flex;
        float: right;
        background-color: transparent;
        border: none;
        margin-right: 19px;
    }

    .phone-remove-btn i {
        font-size: x-large;
    }

    .phone-product-img-desc {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
    }

    .phone-product-img-container {
        width: 43%;
    }

    .phone-product-img-container img {
        width: 100%;
    }

    .phone-product-desc-title {
        width: 55%;
    }

    .phone-cart-product-title {
        font-size: 16px;
        font-weight: 600;
    }

    .phone-product-desc {
        font-size: 12px;
        font-weight: 400;
        color: #4A4A4A;
    }

    .phone-product-details {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    .phone-product-price-title,
    .phone-product-quantity-title,
    .phone-total-price-title {
        font-weight: 500;
        font-size: 11px;
        margin-bottom: 8px;
        color: #7C7C7C;
    }

    .phone-product-price,
    .phone-total-price {
        font-weight: 500;
        font-size: 13px;
    }

    .phone-product-quantity-btn * {
        font-weight: 600;
    }

    .phone-product-quantity-btn button {
        background-color: transparent;
        border: none;
    }

    .go-to-home {
        display: none;
    }

    .total-value-title {
        font-size: 12px;
    }

    .total-value {
        font-size: 16px;
    }

    .under-table-container1 {
        margin-top: 35px;
    }

    .total-value-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .order-btn {
        margin-top: 34px;
        width: 100%;
    }
}